<div class="panel panel-primary">
  <div class="panel-heading"><h1>Blocipedia</h1></div>
  <div class="panel-body">
    <h2><small>Blocipedia is an app that lets users create their own wikis and share them publicly or privately with other collaborators. Users can sign up for free or can upgrade their account for $15 /month to create private wikis.</small></h2>
  </div>
</div>

<script>
  // Sends click event to Blocmetrics
  blocmetrics.report("About Page Loaded")
</script>