 <%= form_tag charges_path do %>
   <h3>Upgrade to a Premium Plan for only $15
    <br >
    <small>This plan allows users to create private wikis.</small>
   </h3>
   <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount=<%= @stripe_btn_data[:amount] %> data-description="<%= @stripe_btn_data[:description] %>" ></script>
 <% end %>